In [6]:
import requests
from bs4 import BeautifulSoup
import os
import pandas as pd
import pickle
import time
import numpy as np

from nltk.stem import *
import nltk
from nltk.corpus import stopwords
from collections import Counter
from functools import reduce
from tqdm.notebook import tqdm
from forex_python.converter import CurrencyRates
import re
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.metrics.pairwise import cosine_similarity
from sklearn.metrics.pairwise import euclidean_distances
import heapq

from googlemaps import Client as GoogleMaps
import googlemaps
import gmaps
from keplergl import KeplerGl
import folium
from folium import Popup
import ast
import geopandas as gpd
from ydata_profiling import ProfileReport
import json

In [ ]:
nltk.download('stopwords')
nltk.download('punkt')

<H1>Exercise 1</H1>

<H3>1.1 Get the list of master's degree courses</H3>

In [12]:
def extract_masters(this_url):
  result_url = requests.get(this_url)
  result_soup = BeautifulSoup(result_url.text)
  result_links = result_soup.find_all('a', {'class': 'courseLink'})
  result_list = []
  for item in result_links:
    result_list.append((item['href'], item.text))
    
  return result_list

In [ ]:
# DO NOT RUN THIS, load sol from the code below

sol=[]
for i in range(1,401):  # it should be 401
    x=extract_masters('https://www.findamasters.com/masters-degrees/msc-degrees/?PG='+str(i))
    sol.append(x)
    time.sleep(1)

In [13]:
# to save sol into a .pkl file

#with open('sol.pkl', 'wb') as file:
    #pickle.dump(sol, file)


# to load sol in kernel

with open('sol.pkl', 'rb') as file:
    sol = pickle.load(file)

In [ ]:
sol

In [ ]:
links=[]

for i in range(len(sol)):
    for j in range(len(sol[i])):
        msc_page_url='https://www.findamasters.com' + sol[i][j][0]
        links.append(msc_page_url)

links

In [27]:
# DO NOT RUN THIS CODE THE FILE IS IN THE HW3 FOLDER

output_file = "output_links.txt"

# Write the links to the text file
with open(output_file, 'w') as file:
    for i in links:
        file.write(i + '\n')

<H3>1.2 Crawl master's degree pages</H3>

In [ ]:
# DO NOT RUN THIS CODE    

def folders(main_folder_path,num_pages):
    try:
        os.makedirs(main_folder_path)
        print(f"main folder created:{main_folder_path}")
        for i in range(1,num_pages+1):
            subfolder_path=os.path.join(main_folder_path,f"subfolder_{i}")
            os.makedirs(subfolder_path)
            print(f"Subfolder created:{subfolder_path}")

    except FileExistsError:
        print(f"Main folder already exists: {main_folder_path}")
    except Exception as e:
        print(f"Error creating folders: {e}")


main_folder_path="HTMLS"
num_pages=400

folders(main_folder_path,num_pages)
        

   
 # We created the folders for the html files. The main folder is HTMLS, then we have 1 subfolder for each page scraped

In [15]:
def get_html_content(link):
    try:
        response=requests.get(link)
        response.raise_for_status() #HTTP error for bad responses
        return response.text
    except requests.RequestException as e:
        print(f"Error fetching {url}:{e}")
        return None
    
def save_html_to_file(html, file_path):
    with open(file_path, 'w', encoding='utf-8') as file:
        file.write(html)

# These two functions find the html for each link and create a html file

In [33]:
# DO NOT RUN THIS CODE

j=0
for i in range(len(links)):
    html=get_html_content(links[i])
    save_html_to_file(html,"HTMLS/subfolder_"+str(j)+"/link"+str(i+1)+".html")
    if ((i+1)%15)==0 and i!=0:
        j+=1    
    time.sleep(1)


# for every html we created a file and we put it in the correct page folder


<H3>1.3 Parse downloaded pages</H3>

In [16]:

# Name dataframe columns

columns = [
    "courseName",
    "universityName",
    "facultyName",
    "isItFullTime",
    "description",
    "startDate",
    "fees",
    "modality",
    "duration",
    "city",
    "country",
    "administration",
    "url"
]


df = pd.DataFrame(columns=columns)
df

# We created an empty data-frame with the columns names

Empty DataFrame
Columns: [courseName, universityName, facultyName, isItFullTime, description, startDate, fees, modality, duration, city, country, administration, url]
Index: []

In [21]:
# DO NOT RUN THIS CODE

path = "HTMLS"
with open("output_links.txt", "r") as file:
    urls = [line.strip() for line in file] 

if not os.path.exists("files_tsv"):
    os.mkdir("files_tsv")

k=1
j=1

for i in range(len(links)): 
        file_path = os.path.join(path, f"subfolder_{j}", f"link{i+1}.html")
        with open(file_path, 'r', encoding='utf-8', errors='replace') as fl:
            soup = BeautifulSoup(fl, 'html.parser')
            if ((i+1)%15)==0 and i!=0:
                    j+=1   
            if soup.title.text == r"FindAMasters | 500 Error : Internal Server Error":
                courseName = universityName = facultyName = isItFullTime = description = startDate = fees = modality = duration = city = country = administration = ""
                
            else:
                courseName = soup.find("h1", {"class": "course-header__course-title"})
                if courseName is None:
                    courseName = ""
                else:
                    courseName = courseName.get_text(strip = True)
                universityName = soup.find("a", {"class": "course-header__institution"}).get_text(strip = True)
                facultyName = soup.find("a", {"class": "course-header__department"}).get_text(strip = True)
                extract = soup.find("span", {"class": "key-info__study-type"})
                if extract is None:
                    isItFullTime = ""
                else:
                    isItFullTime = extract.get_text(strip = True)
                description = soup.find("div", {"class": "course-sections__description"}).find("div", {"class": "course-sections__content"}).get_text(strip = True)
                startDate = soup.find("span", {"class": "key-info__start-date"}).get_text(strip = True)
                extract = soup.find("div", {"class": "course-sections__fees"})
                if extract is None:
                    fees = ""
                else:
                    fees = extract.find("div", {"class": "course-sections__content"}).get_text(strip = True)
                modality = soup.find("span", {"class": "key-info__qualification"}).get_text(strip = True)
                duration = soup.find("span", {"class": "key-info__duration"}).get_text(strip = True)
                city = soup.find("a", {"class": "course-data__city"}).get_text(strip = True)
                country = soup.find("a", {"class": "course-data__country"}).get_text(strip = True)
                extract1 = soup.find("a", {"class": "course-data__online"})
                extract2 = soup.find("a", {"class": "course-data__on-campus"})
                if extract1 is None and extract2 is None:
                    administration = ""
                elif extract2 is None:
                    administration = extract1.get_text(strip = True)
                elif extract1 is None:
                    administration = extract2.get_text(strip = True)
                else:
                    administration = extract1.get_text(strip = True) + " & " + extract2.get_text(strip = True)
                   
                    
            url = urls[k-1]
            new_row_data = {"courseName": courseName,
                            "universityName": universityName,
                            "facultyName": facultyName,
                            "isItFullTime": isItFullTime,
                            "description": description,
                            "startDate": startDate,
                            "fees": fees,
                            "modality": modality,
                            "duration": duration,
                            "city": city,
                            "country": country,
                            "administration": administration,
                            "url" : url
                            }
            df = pd.concat([df, pd.DataFrame([new_row_data])], ignore_index=True)
            file_path = os.path.join('files_tsv', f'course{k}.tsv')
            pd.DataFrame([new_row_data]).to_csv(file_path, sep='\t', index=False)
            k += 1



# In this cell of code we added all the information into the dataset and we created the 6000 .tsv files and put them into the files_tsv folder

In [93]:
# to save df into a .pkl file

#with open('df.pkl', 'wb') as file:
    #pickle.dump(df, file)


# to load df in kernel

with open('df.pkl', 'rb') as file:
    df = pickle.load(file)

In [94]:
df

,courseName,universityName,facultyName,isItFullTime,description,startDate,fees,modality,duration,city,country,administration,url
0,3D Design for Virtual Environments - MSc,Glasgow Caledonian University,School of Engineering and Built Environment,Full time,3D visualisation and animation play a role in ...,September,Please see the university website for further ...,MSc,1 year full-time,Glasgow,United Kingdom,On Campus,https://www.findamasters.com/masters-degrees/c...
1,Accounting and Finance - MSc,University of Leeds,Leeds University Business School,Full time,Businesses and governments rely on sound finan...,September,"UK: £18,000 (Total)International: £34,750 (Total)",MSc,1 year full time,Leeds,United Kingdom,On Campus,https://www.findamasters.com/masters-degrees/c...
2,Accounting and Finance (MSc),University of Bath,School of Management,Full time,Develop in-depth knowledge of accounting and f...,September,Please see the university website for further ...,MSc,1 year full-time,Bath,United Kingdom,On Campus,https://www.findamasters.com/masters-degrees/c...
3,"Accounting, Accountability & Financial Managem...",King’s College London,King’s Business School,Full time,"Our Accounting, Accountability & Financial Man...",September,Please see the university website for further ...,MSc,1 year FT,London,United Kingdom,On Campus,https://www.findamasters.com/masters-degrees/c...
4,"Accounting, Financial Management and Digital B...",University of Reading,Henley Business School,Full time,Embark on a professional accounting career wit...,September,Please see the university website for further ...,MSc,1 year full time,Reading,United Kingdom,On Campus,https://www.findamasters.com/masters-degrees/c...
...,...,...,...,...,...,...,...,...,...,...,...,...,...
5995,Master's in Marketing & Analytics,Hult International Business School,Business School,Full time,Combine the strategic and creative skills of m...,September,Please see the university website for further ...,MSc,Full-time / One year,Cambridge,USA,On Campus,https://www.findamasters.com/masters-degrees/c...
5996,Master's in Marketing and Brand Management,NHH Norwegian School of Economics,MSc,Full time,"Innovating, building and managing strong brand...",August,Please see the university website for further ...,MSc,2 years full time,Bergen,Norway,On Campus,https://www.findamasters.com/masters-degrees/c...
5997,Masters in Mathematical Finance,University of Lisbon,ISEG - Lisbon School of Economics and Management,Part time,OBJECTIVESThe Masters in Mathematical Finance ...,September,International Students: 6750€UE Students: 5750€,MSc,2 Years,Lisbon,Portugal,Online & On Campus,https://www.findamasters.com/masters-degrees/c...
5998,Masters in Monetary and Financial Economics,University of Lisbon,ISEG - Lisbon School of Economics and Management,Part time,OVERVIEWThe Master's in Monetary and Financial...,September,International Students: 7000€UE Students: 5750€,MSc,2 years,Lisbon,Portugal,Online & On Campus,https://www.findamasters.com/masters-degrees/c...
5999,Master's in Strategy and Management,NHH Norwegian School of Economics,MSc,Full time,The study of strategy is fundamentally about u...,August,Please see the university website for further ...,MSc,2 years full time,Bergen,Norway,On Campus,https://www.findamasters.com/masters-degrees/c...

<H1>Exercise 2</H1>

<H2>2.0 Preprocessing</H2>

<H3>2.0.0 Preprocessing the text</H3>

In [95]:
def preprocess_column(df_column):
    stemmer = PorterStemmer()
    lst_stopwords = stopwords.words('english')
    return df_column.apply(lambda row: [stemmer.stem(word) for word in nltk.word_tokenize(row) if not word in lst_stopwords and word.isalnum()])

In [96]:
df['descr_clean'] = preprocess_column(df.description)

<H3>2.0.1 Preprocessing the fees column</H3>

In [97]:
# DO NOT RUN THIS CODE

c = CurrencyRates()
#Explore the description column of the dataset to find regex matches
for i in range (df.shape[0]):
    text = df.fees.iloc[i].lower()
    text = text.replace('euros', '€')
    text = text.replace('usd', '$')
    text = text.replace(',', '')
    text = text.replace('.', '')
    number = re.findall(r'[£$€]\s?\d+[.,]?\d*|\d+[.,]?\d*\s?[£$€]', text)
    if len(number) == 0:
        df.fees.iloc[i] = None
        continue
    converted_amounts = []

    #Using forex_python.converter to convert fees column to a common currency ('USD')
    for el in number:
        num_l = el.split(' ')
        if len(num_l) == 2:
            if num_l[0].isdigit():
                if num_l[1] == '$':
                    converted_amounts.append(float(num_l[0]))
                else:
                    converted_amounts.append(c.convert(num_l[1], 'USD', float(num_l[0])))
            elif num_l[1].isdigit():
                if num_l[0] == '$':
                    converted_amounts.append(float(num_l[1]))
                else:
                    converted_amounts.append(c.convert(num_l[0], 'USD', float(num_l[1])))
        elif len(num_l) == 1:
            match = re.match(r'(\d+)([£$€])|([£$€])(\d+)', el)
            if match:
                if match.group(1):
                    value = float(match.group(1))
                    if match.group(2) == '$':
                        converted_amounts.append(value)
                    elif match.group(2) == '€':
                        converted_amounts.append(c.convert(match.group(2), 'USD', value))
                    elif match.group(2) == '£':
                        value = value * 100
                        converted_amounts.append(c.convert(match.group(2), 'USD', value))
                else:
                    value = float(match.group(4))
                    if match.group(2) == '$':
                        converted_amounts.append(value)
                    elif match.group(3) == '€':
                        converted_amounts.append(c.convert(match.group(3), 'USD', value))
                    elif match.group(3) == '£':
                        value = value * 100
                        converted_amounts.append(c.convert(match.group(3), 'USD', value))
    if (len(converted_amounts)) != 0:
        df.fees.iloc[i] = round(max(converted_amounts))
    else:
        df.fees.iloc[i] = None

After preprocessing the dataset it'll be saved in a new file

In [30]:
# to save df_preprocessed into a .pkl file

#with open('dataset_preprocessed.pkl', 'wb') as file:
    #pickle.dump(df, file)


# to load df_preprocessed in kernel

with open('dataset_preprocessed.pkl', 'rb') as file:
    df = pickle.load(file)

In [99]:
df

,courseName,universityName,facultyName,isItFullTime,description,startDate,fees,modality,duration,city,country,administration,url,descr_clean
0,3D Design for Virtual Environments - MSc,Glasgow Caledonian University,School of Engineering and Built Environment,Full time,3D visualisation and animation play a role in ...,September,None,MSc,1 year full-time,Glasgow,United Kingdom,On Campus,https://www.findamasters.com/masters-degrees/c...,"[3d, visualis, anim, play, role, mani, area, p..."
1,Accounting and Finance - MSc,University of Leeds,Leeds University Business School,Full time,Businesses and governments rely on sound finan...,September,41780,MSc,1 year full time,Leeds,United Kingdom,On Campus,https://www.findamasters.com/masters-degrees/c...,"[busi, govern, reli, sound, financi, knowledg,..."
2,Accounting and Finance (MSc),University of Bath,School of Management,Full time,Develop in-depth knowledge of accounting and f...,September,None,MSc,1 year full-time,Bath,United Kingdom,On Campus,https://www.findamasters.com/masters-degrees/c...,"[develop, knowledg, account, financ, theori, l..."
3,"Accounting, Accountability & Financial Managem...",King’s College London,King’s Business School,Full time,"Our Accounting, Accountability & Financial Man...",September,None,MSc,1 year FT,London,United Kingdom,On Campus,https://www.findamasters.com/masters-degrees/c...,"[our, account, account, financi, manag, msc, c..."
4,"Accounting, Financial Management and Digital B...",University of Reading,Henley Business School,Full time,Embark on a professional accounting career wit...,September,None,MSc,1 year full time,Reading,United Kingdom,On Campus,https://www.findamasters.com/masters-degrees/c...,"[embark, profession, account, career, academ, ..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5995,Master's in Marketing & Analytics,Hult International Business School,Business School,Full time,Combine the strategic and creative skills of m...,September,None,MSc,Full-time / One year,Cambridge,USA,On Campus,https://www.findamasters.com/masters-degrees/c...,"[combin, strateg, creativ, skill, market, data..."
5996,Master's in Marketing and Brand Management,NHH Norwegian School of Economics,MSc,Full time,"Innovating, building and managing strong brand...",August,None,MSc,2 years full time,Bergen,Norway,On Campus,https://www.findamasters.com/masters-degrees/c...,"[innov, build, manag, strong, brand, key, gain..."
5997,Masters in Mathematical Finance,University of Lisbon,ISEG - Lisbon School of Economics and Management,Part time,OBJECTIVESThe Masters in Mathematical Finance ...,September,7239,MSc,2 Years,Lisbon,Portugal,Online & On Campus,https://www.findamasters.com/masters-degrees/c...,"[objectivesth, master, mathemat, financ, aim, ..."
5998,Masters in Monetary and Financial Economics,University of Lisbon,ISEG - Lisbon School of Economics and Management,Part time,OVERVIEWThe Master's in Monetary and Financial...,September,7507,MSc,2 years,Lisbon,Portugal,Online & On Campus,https://www.findamasters.com/masters-degrees/c...,"[overviewth, master, monetari, financi, econom..."
5999,Master's in Strategy and Management,NHH Norwegian School of Economics,MSc,Full time,The study of strategy is fundamentally about u...,August,None,MSc,2 years full time,Bergen,Norway,On Campus,https://www.findamasters.com/masters-degrees/c...,"[the, studi, strategi, fundament, understand, ..."

<H2>2.1. Conjunctive query</H2>

<H3>2.1.1 Create your index!</H3>

In [38]:
# Convert lists of strings to a single string
def concatenate_list_strings(lst):
    return ' '.join(lst)

# Apply the function to create a new column with concatenated strings
df['concatenated'] = df.descr_clean.apply(concatenate_list_strings)

In [34]:
# DO NOT RUN THIS CODE

#Creating a dictionary that maps each word to an integer and containing all the words in the description column
vocabulary = {}
k = 0
for i in range (df.shape[0]):
    text = df.concatenated.iloc[i].lower()
    words = text.split()
    for word in words:
        if word not in vocabulary:
            vocabulary[word] = k
            k += 1
print('The total number of words in the vocabulary is: ', k )

The total number of words in the vocabulary is:  9646

In [39]:
# to save vocabulary into a .pkl file

#with open('vocabulary.pkl', 'wb') as file:
    #pickle.dump(vocabulary, file)


# to load vocabulary in kernel

with open('vocabulary.pkl', 'rb') as file:
    vocabulary = pickle.load(file)

In [40]:
# DO NOT RUN THIS CODE

#Creating an "id" column to identify the documents
df["id"] =[i for i in range (6000)]

#Creating another dict where key is the previous integer mapped with a "id" from each course that contains that specific all the words associated.
inverted_index = {i:[] for i in range (0, k)}
for i in range (df.shape[0]):
    text = df.concatenated.iloc[i].lower()
    words = text.split()
    for word in words:
        word_key = vocabulary[word]
        pv = inverted_index[word_key]
        if df.id.iloc[i] not in pv:
            pv.append(df.id.iloc[i])
        inverted_index[word_key] = pv

In [42]:
# to save inverted_index into a .pkl file

with open('inverted_index.pkl', 'wb') as file:
    pickle.dump(inverted_index, file)


# to load inverted_index in kernel

with open('inverted_index.pkl', 'rb') as file:
    inverted_index = pickle.load(file)

<H3>2.1.2 Execute the query</H3>

In [48]:
def preprocess_query(query_str):
    stemmer = PorterStemmer()
    lst_stopwords = stopwords.words('english')
    return [stemmer.stem(word) for word in nltk.word_tokenize(query_str) if not word in lst_stopwords and word.isalnum()]

In [51]:
#Given an input string, this function find the documents that contain all the words in the input string and return a list with the required information
def search_engine(query_str):
    words = preprocess_query(query_str)
    docs_id = {}
    First = False
    i = 0
    while First == False:
        if len(words) - i> 0:
            if words[i] in vocabulary:
                word_key = vocabulary[words[i]] 
                docs_id = set(inverted_index[word_key])
                First = True
            else:
                return ('No match founded')
        i += 1
    for word in words:
        if word in vocabulary:
            word_key = vocabulary[word]
            word_doc = set(inverted_index[word_key])
            docs_id = docs_id.intersection(word_doc)
        else:
            return ('No match founded')
    res = []
    for i in range (df.shape[0]):
        if df.id.iloc[i] in docs_id:
            res.append([df.courseName.iloc[i], df.universityName.iloc[i], df.description.iloc[i], df.url.iloc[i]])
    return pd.DataFrame(res, columns=["courseName", "universityName", "description", "url"])

In [61]:
search_engine('advanced knowledge')

,courseName,universityName,description,url
0,Accounting and Finance - MSc,University of Leeds,Businesses and governments rely on sound finan...,https://www.findamasters.com/masters-degrees/c...
1,Addictions MSc,King’s College London,Join us for an online session for prospective ...,https://www.findamasters.com/masters-degrees/c...
2,Advanced Mechanical Engineering MSc,"City, University of London",Key informationThis engineering masters progra...,https://www.findamasters.com/masters-degrees/c...
3,Analytical Toxicology MSc,King’s College London,The Analytical Toxicology MSc is a unique stud...,https://www.findamasters.com/masters-degrees/c...
4,Biomedical Engineering with Data Analytics MSc,"City, University of London",Key informationThis course provides a comprehe...,https://www.findamasters.com/masters-degrees/c...
...,...,...,...,...
463,Master of Science/Postgraduate Diploma in Envi...,The Hong Kong University of Science and Techno...,The program is meant to meet the needs of prac...,https://www.findamasters.com/masters-degrees/c...
464,Master Sociology – Social and Economic Psychology,University of Cologne,This programme provides you with:a solid found...,https://www.findamasters.com/masters-degrees/c...
465,Masters in Economics,University of Lisbon,OBJECTIVESThe MSc in Economics aims to provide...,https://www.findamasters.com/masters-degrees/c...
466,Master's in Global and European Politics,European School of Political and Social Scienc...,Europe and the EU in a changing worldOur inter...,https://www.findamasters.com/masters-degrees/c...
467,Masters in Hospitality Management,Ecole hotelière de Lausanne,"With our Master in Hospitality Management, you...",https://www.findamasters.com/masters-degrees/c...

<H2>2.2 Conjunctive query & Ranking score</H2>

<H3>2.2.1 Inverted index</H3>

In [53]:
# DO NOT RUN THIS CODE

# Creating another inverted index that maps each word to an integer (term_id) and its tfidf value.
inverted_index_2 = {i:[] for i in range (0, k)}

for i in range (df.shape[0]):
    text = df.concatenated.iloc[i].lower()
    words = text.split()
    n_words = len(words)
    
    for word in words:    
        word_count = words.count(word)
        word_key = vocabulary[word]
        tf = word_count / n_words
        
        num_desc_word = len(inverted_index[word_key])
        num_desc = df.shape[0]
        idf = np.log2(num_desc/num_desc_word)
        tfidf = tf*idf
        
        pv = inverted_index_2[word_key]
        if (df.id.iloc[i], tfidf) not in pv:
            pv.append((df.id.iloc[i], tfidf))
        inverted_index_2[word_key] = pv

In [54]:
# to save inverted_index_2 into a .pkl file

with open('inverted_index_2.pkl', 'wb') as file:
    pickle.dump(inverted_index_2, file)


# to load inverted_index_2 in kernel

with open('inverted_index_2.pkl', 'rb') as file:
    inverted_index_2 = pickle.load(file)

<H3>2.2.2 Execute the query</H3>

In [62]:
def preprocess_query(query_str):
    stemmer = PorterStemmer()
    lst_stopwords = stopwords.words('english')
    return [stemmer.stem(word) for word in nltk.word_tokenize(query_str) if not word in lst_stopwords and word.isalnum()]

In [63]:
# Given an input string, this function find the documents that contain all the words in the input string and return the top 20
# documents related to the query, ordered by cosine similarity with the required information
def search_engine_2(query_str):
    tfidf_query = []
    words = preprocess_query(query_str)
    n_words = len(words)
    for word in words:
        if word in vocabulary:
            tf = words.count(word) / n_words
            idf = np.log2(df.shape[0]/len(inverted_index[vocabulary[word]]))
            tfidf_query.append(tf * idf)
        else:
            return ('No match founded')
    s = 0
    for el in tfidf_query:
        s += el**el
    abs_tfidf_query = np.sqrt(s)

    docs_id = {}
    doc_score = {}
    First = False
    i = 0
    while First == False:
        if len(words) - i> 0:
            if words[i] in vocabulary:
                word_key = vocabulary[words[i]]
                doc_score = {el[0]: [el[1]] for el in inverted_index_2[word_key]}
                docs_id = set(inverted_index[word_key])
                First = True
                words.remove(words[i])
            else:
                return ('No match founded')
        i += 1
        
    for word in words:
        if word in vocabulary:
            word_key = vocabulary[word]
            temp_doc_score = {el[0]: el[1] for el in inverted_index_2[word_key]}
            for el in temp_doc_score:
                if el not in doc_score:
                    doc_score[el] = temp_doc_score[el]
                else:
                    pv = doc_score[el]
                    pv.append(temp_doc_score[el])
                    doc_score[el] = pv
            word_doc = set(el[0] for el in inverted_index_2[word_key])
            docs_id = docs_id.intersection(word_doc)
        else:
            return ('No match founded')
            
    res_doc = {}
    for el in doc_score:
        if el in docs_id:
            res_doc[el] = doc_score[el]
    
    res = []
    for i in range (df.shape[0]):
        if df.id.iloc[i] in docs_id:
            tfidf_arr = res_doc[df.id.iloc[i]]
            s = 0
            for el in tfidf_arr:
                s += el**el
            abs_tfidf_doc = np.sqrt(s)
            cos_sim = np.dot(tfidf_arr, tfidf_query)/(abs_tfidf_doc*abs_tfidf_query)
            res.append([df.courseName.iloc[i], df.universityName.iloc[i], df.description.iloc[i], df.url.iloc[i], cos_sim])
    df_res = pd.DataFrame(res, columns = ['courseName', 'universityName', 'description', 'url', 'Similarity']) 
    return df_res.sort_values('Similarity', ascending=False).iloc[:10]

In [64]:
search_engine_2('advanced knowledge')

,courseName,universityName,description,url,Similarity
402,International Business - MSc,University of Glasgow,International Business will provide you with a...,https://www.findamasters.com/masters-degrees/c...,0.225872
64,Advanced Clinical Practice MSc,University of Greenwich,Learn essential strategies and prepare for lea...,https://www.findamasters.com/masters-degrees/c...,0.225523
193,Brain and Behaviour MSc,Liverpool John Moores University,"Gain advanced knowledge of the neural, pharmac...",https://www.findamasters.com/masters-degrees/c...,0.205922
86,Advanced Computing MSc,King’s College London,Our Advanced Computing MSc provides knowledge ...,https://www.findamasters.com/masters-degrees/c...,0.205438
142,Advancing Practice - MSc,University of Northampton,Our MSc Advancing Practice awards support the ...,https://www.findamasters.com/masters-degrees/c...,0.174927
423,Management and Digital Business (with Advanced...,Liverpool John Moores University,This Advanced Practice course provides an in-d...,https://www.findamasters.com/masters-degrees/c...,0.174742
95,Advanced Healthcare Practice - MSc,Cardiff University,Why study this courseOur MSc Advanced Healthca...,https://www.findamasters.com/masters-degrees/c...,0.168217
67,Advanced Clinical Practitioner - MSc,University of Sunderland,The MSc Advanced Clinical Practitioner is a hi...,https://www.findamasters.com/masters-degrees/c...,0.164962
60,Advanced Clinical Practice (Primary Care) MSc ...,Swansea University,Advanced Clinical Practice (Primary Care) Cour...,https://www.findamasters.com/masters-degrees/c...,0.164962
131,Advanced Professional Practice (MSc),University of Gloucestershire,Our lecturers are research active experts who ...,https://www.findamasters.com/masters-degrees/c...,0.162774

<H1>3. Define a new score</H1>

## Explanation of New Score Function (Metric)

**The New Score function is defined as follows**:

$$\text{New Score} = w \times \left(\frac{1}{\text{EuclideanDistance\_Descr} + 1}\right) + (1 - w) \times \left(\frac{1}{\text{EuclideanDistance\_CourseName} + 1}\right)$$

Where:
- $ w $ $-$ the weight of the description column, set to $0.4$ to emphasize the importance of the Course Name column.
- $\text{EuclideanDistance\_Descr}$ $-$ the Euclidean distance between the TF-IDF vectors of the Description column and the query.
- $\text{EuclideanDistance\_CourseName}$ $-$ the Euclidean distance between the TF-IDF vectors of the Course Name column and the query.

Explanation:
- Smaller Euclidean distances indicate higher relevance of the document to the query.
- Adding 1 before division avoids division by zero and maintains a bound between 0 and 1 for the score.

Let's define the sets:
- $Descr_{set}$: Documents containing words from the query in their Description column.
- $CourseName_{set}$: Documents containing words from the query in their Course Name column.

To be more specific, the New Score works as the following: 

For $ Descr_{set} \cap CourseName_{set} $: 

$$\text{New Score} = w \times \left(\frac{1}{\text{EuclideanDistance\_Descr} + 1}\right) + (1 - w) \times \left(\frac{1}{\text{EuclideanDistance\_CourseName} + 1}\right)$$


For $ Descr_{set} - (Descr_{set} \cap CourseName_{set}) $:: 
$$\text{New Score} = w \times \left(\frac{1}{\text{EuclideanDistance\_Descr} + 1}\right)$$

For $ CourseName_{set} - (Descr_{set} \cap CourseName_{set}) $: 
$$\text{New Score} = (1 - w) \times \left(\frac{1}{\text{EuclideanDistance\_CourseName} + 1}\right)$$


![Sets Explained](./img/question_3.jpg)

In [66]:
with open('dataset_preprocessed.pkl', 'rb') as file:
    dataset = pickle.load(file)
dataset.head(2)

,courseName,universityName,facultyName,isItFullTime,description,startDate,fees,modality,duration,city,country,administration,url,descr_clean,concatenated
0,3D Design for Virtual Environments - MSc,Glasgow Caledonian University,School of Engineering and Built Environment,Full time,3D visualisation and animation play a role in ...,September,None,MSc,1 year full-time,Glasgow,United Kingdom,On Campus,https://www.findamasters.com/masters-degrees/c...,"[3d, visualis, anim, play, role, mani, area, p...",3d visualis anim play role mani area popular m...
1,Accounting and Finance - MSc,University of Leeds,Leeds University Business School,Full time,Businesses and governments rely on sound finan...,September,41779.882012,MSc,1 year full time,Leeds,United Kingdom,On Campus,https://www.findamasters.com/masters-degrees/c...,"[busi, govern, reli, sound, financi, knowledg,...",busi govern reli sound financi knowledg underp...

In [ ]:
def preprocess_column(df_column):
    stemmer = PorterStemmer()
    lst_stopwords = stopwords.words('english')
    return df_column.apply(lambda row: [stemmer.stem(word) for word in nltk.word_tokenize(row) if not word in lst_stopwords and word.isalnum()])

In [67]:
dataset['descr_clean'] = preprocess_column(dataset.description)
dataset['course_clean'] = preprocess_column(dataset.courseName)

**Description and CourseName Columns Building Vocabulary and Inverted Index**

In [69]:
vocabulary_alt = Counter(reduce(lambda x, y: x + y, dataset.descr_clean.values)).keys()
inverted_index_descr = pd.DataFrame(data=list(vocabulary_alt), columns=['term'])
inverted_index_descr['reverse'] = inverted_index_descr.term.apply(
    lambda item: list(dataset.loc[dataset.descr_clean.apply(lambda row: item in row)].index)
)
inverted_index_descr

          term                                            reverse
0           3d  [0, 505, 586, 668, 669, 962, 1900, 2494, 2884,...
1     visualis  [0, 92, 94, 458, 813, 1147, 1351, 1367, 1495, ...
2         anim  [0, 14, 28, 37, 144, 202, 310, 690, 754, 1041,...
3         play  [0, 24, 45, 94, 107, 232, 249, 338, 367, 380, ...
4         role  [0, 17, 18, 19, 24, 48, 81, 83, 94, 96, 101, 1...
...        ...                                                ...
9641      exig                                             [5998]
9642      memf                                             [5998]
9643      3200                                             [5998]
9644       str                                             [5999]
9645   illumin                                             [5999]

[9646 rows x 2 columns]

In [70]:
vocabulary_courseName = Counter(reduce(lambda x, y: x + y, dataset.course_clean.values)).keys()
inverted_index_courseName = pd.DataFrame(data=list(vocabulary_courseName), columns=['term'])
inverted_index_courseName['reverse'] = inverted_index_courseName.term.apply(
    lambda item: list(dataset.loc[dataset.course_clean.apply(lambda row: item in row)].index)
)
inverted_index_courseName

          term                                            reverse
0           3d                                      [0, 586, 669]
1       design  [0, 196, 471, 515, 586, 682, 683, 684, 832, 84...
2      virtual                              [0, 2283, 4480, 5201]
3      environ  [0, 126, 380, 383, 571, 576, 1051, 1116, 1162,...
4          msc  [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13,...
...        ...                                                ...
1301      omic                                             [5955]
1302     pacif                                             [5968]
1303        ap                                             [5968]
1304       icp                                             [5989]
1305  monetari                                             [5998]

[1306 rows x 2 columns]

**Calculate the TF-IDF values between the vocabulary and the collection (of documents) for Description and CourseName columns**

In [71]:
tfidf_vectorizer_descr = TfidfVectorizer(input='content', lowercase=False, tokenizer=lambda text: text) # , max_df=0.1
results_tfidf_descr = tfidf_vectorizer_descr.fit_transform(dataset.descr_clean)

C:\Users\domen\AppData\Local\Programs\Python\Python311\Lib\site-packages\sklearn\feature_extraction\text.py:525: UserWarning: The parameter 'token_pattern' will not be used since 'tokenizer' is not None'
  warnings.warn(

In [72]:
tfidf_vectorizer_courseName = TfidfVectorizer(input='content', lowercase=False, tokenizer=lambda text: text) # , max_df=0.1
results_tfidf_courseName = tfidf_vectorizer_courseName.fit_transform(dataset.course_clean)

In [73]:
#### Search Engine 3

In [74]:
def preprocess_query(query_str):
    stemmer = PorterStemmer()
    lst_stopwords = stopwords.words('english')
    return [stemmer.stem(word) for word in nltk.word_tokenize(query_str) if not word in lst_stopwords and word.isalnum()]

In [75]:
def intersection_document_IDs(prepr_query, inverted_index_df): #prepr_query: list, 
    intersection_docIDs = []
    First = True
    selected_columns = []
    
    for word in prepr_query: 
        if not inverted_index_df[inverted_index_df['term'] == word].empty:
            matchings = list(inverted_index_df[inverted_index_df['term'] == word]['reverse'])[0]

            if len(matchings) != 0:
                selected_columns.append(word)
                matchings_set = set(matchings)
                if First:
                    intersection_docIDs = matchings_set
                    First = False
                else:
                    intersection_docIDs = intersection_docIDs.intersection(matchings_set)
                    
    return list(intersection_docIDs), selected_columns

In [76]:
def top_k_max_scores(df, k):
    max_scores_heap = []

    for index, row in df.iterrows():
        score = row['New Score']

        if len(max_scores_heap) < k or score > max_scores_heap[0][0]:
            heapq.heappush(max_scores_heap, (score, (index, tuple(row))))

            if len(max_scores_heap) > k:
                heapq.heappop(max_scores_heap)

    top_k_rows = [heapq.heappop(max_scores_heap)[1] for _ in range(k)][::-1]
    top_k_indices = [row[0] for row in top_k_rows]
    top_k_data = [row[1] for row in top_k_rows]
    top_k_df = pd.DataFrame(top_k_data, index=top_k_indices, columns=df.columns)

    return top_k_df

In [77]:
def new_score_metric(df, set_docIDs_by_descr_AND_courseName, set_docIDs_by_descr_withOUT_courseName, set_docIDs_by_courseName_withOUT_descr, results_tfidf_descr, results_tfidf_courseName, tfidf_query_by_descr, tfidf_query_by_courseName, weight_of_descr = 0.4):
    
    #weight_of_descr = weight of the description column; smaller weight_of_descr -> Greater emphasis is placed on the courseName column's influence on the score 

    final_result_df = []
    if set_docIDs_by_descr_AND_courseName:
        result_df_descr_AND_courseName = df.loc[list(set_docIDs_by_descr_AND_courseName), ["courseName", "universityName", "description", "url"]].copy()
        #score calculation
        dist_descr = np.array(euclidean_distances(results_tfidf_descr[list(set_docIDs_by_descr_AND_courseName)], tfidf_query_by_descr))
        dist_cours = np.array(euclidean_distances(results_tfidf_courseName[list(set_docIDs_by_descr_AND_courseName)], tfidf_query_by_courseName))

        result_df_descr_AND_courseName['New Score'] = weight_of_descr * (1 / (dist_descr + 1)) + (1 - weight_of_descr) * (1 / (dist_cours + 1))

        final_result_df.append(result_df_descr_AND_courseName)

    if set_docIDs_by_descr_withOUT_courseName:
        result_df_descr_withOUT_courseName = df.loc[list(set_docIDs_by_descr_withOUT_courseName), ["courseName", "universityName", "description", "url"]].copy()

        #score calculation
        dist_descr = np.array(euclidean_distances(results_tfidf_descr[list(set_docIDs_by_descr_withOUT_courseName)], tfidf_query_by_descr))

        result_df_descr_withOUT_courseName['New Score'] = weight_of_descr * (1 / (dist_descr + 1))

        final_result_df.append(result_df_descr_withOUT_courseName)

    if set_docIDs_by_courseName_withOUT_descr:
        result_df_courseName_withOUT_descr = df.loc[list(set_docIDs_by_courseName_withOUT_descr), ["courseName", "universityName", "description", "url"]].copy()

        #score calculation
        dist_cours = np.array(euclidean_distances(results_tfidf_courseName[list(set_docIDs_by_courseName_withOUT_descr)], tfidf_query_by_courseName))

        result_df_courseName_withOUT_descr['New Score'] = (1 - weight_of_descr) * (1 / (dist_cours + 1))

        final_result_df.append(result_df_courseName_withOUT_descr)

    if not final_result_df: return None

    #concatenation of Dataframes with ignore_index = False because we want to preserve the index of original dataset
    return pd.concat(final_result_df, ignore_index=False)

In [78]:
def search_engine_3(input_query, df, inverted_index_descript, inverted_index_course_name, tfidf_vectorizer_descript, tfidf_vectorizer_course_name, results_tfidf_descr, results_tfidf_courseName, k):
    #Preprocess the input query to match the format of the description column
    preprocessed_query = preprocess_query(input_query)
    
    #Identify documents containing the words from the preprocessed query (intersection)
    #Find matchings between documents and query for descr column and courseName column
    intersection_docIDs_by_descr, selected_columns_descr = intersection_document_IDs(preprocessed_query, inverted_index_descript)
    intersection_docIDs_by_courseName, selected_columns_courseName = intersection_document_IDs(preprocessed_query, inverted_index_course_name)
    
    #Return if no documents contain the query words
    if not selected_columns_descr and not selected_columns_courseName: return ('No match founded')
    ######################################################################################################
    #Convert the intersection of docIDs to set
    set_docIDs_by_descr = set(intersection_docIDs_by_descr)
    set_docIDs_by_courseName = set(intersection_docIDs_by_courseName)
    
    ######################################################################################################
    #Find the intersection of description docIDs and courseName docIDs
    set_docIDs_by_descr_AND_courseName = set_docIDs_by_descr.intersection(set_docIDs_by_courseName)
    
    #Find the difference betweeen description docIDs and its intersection with coursname docIDs
    set_docIDs_by_descr_withOUT_courseName = set_docIDs_by_descr.difference(set_docIDs_by_descr_AND_courseName)
    
    #Find the difference betweeen coursname docIDs and its intersection with description docIDs
    set_docIDs_by_courseName_withOUT_descr =  set_docIDs_by_descr_AND_courseName.difference(set_docIDs_by_descr)
    
    ######################################################################################################
    #Transform the query into TF-IDF values for description and coursname columns 
    tfidf_query_by_descr = tfidf_vectorizer_descript.transform([selected_columns_descr])
    tfidf_query_by_courseName = tfidf_vectorizer_course_name.transform([selected_columns_courseName])
    ######################################################################################################
    
    #Calculation of the new Score and find the result 
    final_result_dataset = new_score_metric(df, set_docIDs_by_descr_AND_courseName, set_docIDs_by_descr_withOUT_courseName, 
                                       set_docIDs_by_courseName_withOUT_descr, results_tfidf_descr, results_tfidf_courseName, 
                                       tfidf_query_by_descr, tfidf_query_by_courseName)
    
    
    if final_result_dataset is None: return ('No match founded')    
    ######################################################################################################
    #Sort the values of New Score in descending order using the heap data structure
    #Return top-K matching documents using max heap based on Score
    top_k_elements = top_k_max_scores(final_result_dataset, k)
    
    if top_k_elements.empty: return ('No match founded')
    return top_k_elements

In [79]:
query = 'advanced knowledge'
search_engine_3(query, dataset, inverted_index_descr, inverted_index_courseName, tfidf_vectorizer_descr, tfidf_vectorizer_courseName, results_tfidf_descr, results_tfidf_courseName, k = 5)

,courseName,universityName,description,url,New Score
854,Advanced Healthcare Practice - MSc,Cardiff University,Why study this courseOur MSc Advanced Healthca...,https://www.findamasters.com/masters-degrees/c...,0.189908
769,Advanced Clinical Practice MSc,University of Greenwich,Learn essential strategies and prepare for lea...,https://www.findamasters.com/masters-degrees/c...,0.189857
998,Advancing Practice - MSc,University of Northampton,Our MSc Advancing Practice awards support the ...,https://www.findamasters.com/masters-degrees/c...,0.189851
824,Advanced Computing MSc,King’s College London,Our Advanced Computing MSc provides knowledge ...,https://www.findamasters.com/masters-degrees/c...,0.189599
723,Advanced Clinical Practice - MSc,Canterbury Christ Church University,Gain the knowledge and skills needed to become...,https://www.findamasters.com/masters-degrees/c...,0.188372

In [80]:
search_engine_2(query)

,courseName,universityName,description,url,Similarity
402,International Business - MSc,University of Glasgow,International Business will provide you with a...,https://www.findamasters.com/masters-degrees/c...,0.225872
64,Advanced Clinical Practice MSc,University of Greenwich,Learn essential strategies and prepare for lea...,https://www.findamasters.com/masters-degrees/c...,0.225523
193,Brain and Behaviour MSc,Liverpool John Moores University,"Gain advanced knowledge of the neural, pharmac...",https://www.findamasters.com/masters-degrees/c...,0.205922
86,Advanced Computing MSc,King’s College London,Our Advanced Computing MSc provides knowledge ...,https://www.findamasters.com/masters-degrees/c...,0.205438
142,Advancing Practice - MSc,University of Northampton,Our MSc Advancing Practice awards support the ...,https://www.findamasters.com/masters-degrees/c...,0.174927
423,Management and Digital Business (with Advanced...,Liverpool John Moores University,This Advanced Practice course provides an in-d...,https://www.findamasters.com/masters-degrees/c...,0.174742
95,Advanced Healthcare Practice - MSc,Cardiff University,Why study this courseOur MSc Advanced Healthca...,https://www.findamasters.com/masters-degrees/c...,0.168217
67,Advanced Clinical Practitioner - MSc,University of Sunderland,The MSc Advanced Clinical Practitioner is a hi...,https://www.findamasters.com/masters-degrees/c...,0.164962
60,Advanced Clinical Practice (Primary Care) MSc ...,Swansea University,Advanced Clinical Practice (Primary Care) Cour...,https://www.findamasters.com/masters-degrees/c...,0.164962
131,Advanced Professional Practice (MSc),University of Gloucestershire,Our lecturers are research active experts who ...,https://www.findamasters.com/masters-degrees/c...,0.162774

In [81]:
query = 'advanced computing'
search_engine_3(query, dataset, inverted_index_descr, inverted_index_courseName, tfidf_vectorizer_descr, tfidf_vectorizer_courseName, results_tfidf_descr, results_tfidf_courseName, k = 5)

,courseName,universityName,description,url,New Score
823,Advanced Computing (MSc/MRes),"Birkbeck, University of London",MSc Advanced Computing:If you already work in ...,https://www.findamasters.com/masters-degrees/c...,0.797333
824,Advanced Computing MSc,King’s College London,Our Advanced Computing MSc provides knowledge ...,https://www.findamasters.com/masters-degrees/c...,0.700019
821,Advanced Computing - MSc,University of the West of Scotland,Our MSc Advanced Computing course is designed ...,https://www.findamasters.com/masters-degrees/c...,0.689480
822,Advanced Computing - MSc,University of Suffolk,IntroductionThe MSc Advanced Computing course ...,https://www.findamasters.com/masters-degrees/c...,0.680794
820,Advanced Computing - MSc,Imperial College London,This course is aimed at students who have a su...,https://www.findamasters.com/masters-degrees/c...,0.680118

In [82]:
search_engine_2(query)

,courseName,universityName,description,url,Similarity
81,Computer Science,University of Padua,TheMaster’s degree in Computer Scienceprogramm...,https://www.findamasters.com/masters-degrees/c...,0.405688
37,Advanced Computing MSc,King’s College London,Our Advanced Computing MSc provides knowledge ...,https://www.findamasters.com/masters-degrees/c...,0.404093
46,Advanced Software Engineering MSc,King’s College London,Our Advanced Software Engineering MSc is an ad...,https://www.findamasters.com/masters-degrees/c...,0.379784
22,Advanced Computer Science MSc,Northumbria University,"Designed to meet the needs of industry, MSc Ad...",https://www.findamasters.com/masters-degrees/c...,0.379121
83,Computer Science (M.S.),St. Cloud State University,The Computer Science program will introduce yo...,https://www.findamasters.com/masters-degrees/c...,0.376354
100,Computing Science - MSc/PgDip/PgCert,University of Glasgow,The Masters in Computing Science provides you ...,https://www.findamasters.com/masters-degrees/c...,0.317416
88,Computer Science for Cyber Security,Heriot-Watt University,OverviewOur MSc Computer Science for Cyber Sec...,https://www.findamasters.com/masters-degrees/c...,0.317416
86,Computer Science (Network Engineering) MSc,University of Greenwich,Our Master’s in Computer Science specialising ...,https://www.findamasters.com/masters-degrees/c...,0.312382
79,Computer Engineering (MSc),George Washington University,The Master of Science in Computer Engineering ...,https://www.findamasters.com/masters-degrees/c...,0.307915
34,Advanced Computing - MSc,University of the West of Scotland,Our MSc Advanced Computing course is designed ...,https://www.findamasters.com/masters-degrees/c...,0.291924

In [83]:
query = input('Search \U0001F50D Now: ')
search_engine_3(query, dataset, inverted_index_descr, inverted_index_courseName, tfidf_vectorizer_descr, tfidf_vectorizer_courseName, results_tfidf_descr, results_tfidf_courseName, k = 5)

Search 🔍 Now:  data science

,courseName,universityName,description,url,New Score
2673,Data Science - MSc/PgD/PgC,Cardiff Metropolitan University,This Master's degree in Data Science is an ind...,https://www.findamasters.com/masters-degrees/c...,0.811467
5166,M.Sc. Data Science,IU International University of Applied Sciences,TheMaster Data Scienceat the IU deepens your k...,https://www.findamasters.com/masters-degrees/c...,0.803613
2674,Data Science - MSc/PGDip,Heriot-Watt University,Our Data Science masters teaches the theory an...,https://www.findamasters.com/masters-degrees/c...,0.802247
2659,Data Science,Politecnico di Milano,Big Data can provide important insights into b...,https://www.findamasters.com/masters-degrees/c...,0.789463
2658,Data Science,Aalto University,Big Data can provide important insights into b...,https://www.findamasters.com/masters-degrees/c...,0.789463

In [84]:
search_engine_2(query)

,courseName,universityName,description,url,Similarity
101,Business Data Science - MSc Economics,Erasmus School of Economics,Business Data ScienceThe Business Data Science...,https://www.findamasters.com/masters-degrees/c...,0.467407
8,"Data Science and its Applications, MSc",University of Greenwich,Our MSc degree in Data Science and its Applica...,https://www.findamasters.com/masters-degrees/c...,0.456555
224,Data Science MSc,University of Greenwich,Our MSc in Data Science equips graduates to em...,https://www.findamasters.com/masters-degrees/c...,0.450531
343,Master of Science in Data Science and Business...,Asia Pacific University of Technology & Innova...,This programme is specifically designed to pro...,https://www.findamasters.com/masters-degrees/c...,0.410223
146,Data Science - Master of Science (MS),University of Colorado Boulder,The on-campus Master of Science in Data Scienc...,https://www.findamasters.com/masters-degrees/c...,0.399276
310,M.Sc. Data Science,IU International University of Applied Sciences,TheMaster Data Scienceat the IU deepens your k...,https://www.findamasters.com/masters-degrees/c...,0.372752
158,Data Science - MSc/PgD/PgC,Cardiff Metropolitan University,This Master's degree in Data Science is an ind...,https://www.findamasters.com/masters-degrees/c...,0.371188
317,Master in Applied Data Science,Frankfurt School of Finance and Management,OverviewThe Master in Applied Data Science is ...,https://www.findamasters.com/masters-degrees/c...,0.369308
218,Data Science MSc,University of Southampton,Become a proficient data scientist with a mast...,https://www.findamasters.com/masters-degrees/c...,0.359328
148,Data Science - MSc,University of Glasgow,The Masters in Data Science is a specialist ve...,https://www.findamasters.com/masters-degrees/c...,0.355250

When compared to search_engine_2, the scoring system of search_engine_3* is better. This improvement includes the coursename field in the search process in addition to the description column. This change improves the user experience by giving the coursename more weight, which is consistent with the way most users search for courses.

Higher scores are now produced by the scoring system for documents that have the query words in the coursename and description fields. As a result, papers that contain the query terms only in the coursename or description columns will score relatively lower. By prioritizing documents with a richer match in both columns, this refinement makes sure that consumers receive more relevant results.

The results of the analysis of the query 'advanced knowledge' using search_engine_3* and search_engine_2 reveal that the term 'advanced' appears in 5 out of the 5 results from search_engine_3*, whereas only 3 out of the 5 results from search_engine_2 contain this term. It is noteworthy, though, that no course is specifically named "advanced knowledge," which makes this query less effective in producing useful results.

'Advanced computing' is a better term to characterize the course, therefore let's use it to exemplify a more fitting inquiry. When this term is searched, search engine 3 returns all 5 of the top results that are associated with 'advanced computing,' however search_engine_2 only includes one course that is associated with 'advanced computing' in its top 5 results.

<H1>4. Visualizing the most relevant MSc degrees</H1>

In [172]:
ndf = search_engine_3(query, dataset, inverted_index_descr, inverted_index_courseName, tfidf_vectorizer_descr, tfidf_vectorizer_courseName, results_tfidf_descr, results_tfidf_courseName, k = 20)
df_merged = pd.merge(df, ndf, on='courseName', how='inner')
df_merged = df_merged.drop(['isItFullTime', 'description_x', 'facultyName', 'startDate', 'modality', 'duration', 'administration', 'url_x', 'descr_clean', 'url_x', 'url_y', 'description_y', 'New Score', 'universityName_y'], axis=1)
df_merged
#df=df[df["fees"].notna()]
#gdf=df[["courseName","universityName","country","city","fees"]].reset_index(drop=True)
#gdf
# We deleted the rows where the fees are None.

,courseName,universityName_x,fees,city,country
0,Data Science,University of Padua,2895,Padua,Italy
1,Data Science,University of Padua,2895,Padua,Italy
2,Data Science,University of Padua,2895,Padua,Italy
3,Data Science - MSc,"University of the West of England, Bristol",10821,Bristol,United Kingdom
4,Data Science - MSc,"University of the West of England, Bristol",10821,Bristol,United Kingdom
5,Data Science - MSc,"University of the West of England, Bristol",10821,Bristol,United Kingdom
6,Data Science - MSc,University of Helsinki,16086,Helsinki,Finland
7,Data Science - MSc,University of Helsinki,16086,Helsinki,Finland
8,Data Science - MSc,University of Helsinki,16086,Helsinki,Finland
9,Data Science - MSc,University of Hertfordshire,17734,Hatfield,United Kingdom
10,Data Science - MSc,University of Hertfordshire,17734,Hatfield,United Kingdom
11,Data Science - MSc,University of Hertfordshire,17734,Hatfield,United Kingdom
12,Data Science MSc,Middlesex University,18876,London,United Kingdom
13,Data Science MSc,Middlesex University,18876,London,United Kingdom
14,Data Science MSc,Middlesex University,18876,London,United Kingdom
15,Data Science MSc,Middlesex University,18876,London,United Kingdom
16,Data Science MSc,Middlesex University,18876,London,United Kingdom
17,Data Science MSc,Middlesex University,18876,London,United Kingdom
18,Data Science MSc,University of Wolverhampton,18576,Wolverhampton,United Kingdom
19,Data Science MSc,University of Wolverhampton,18576,Wolverhampton,United Kingdom
20,Data Science MSc,University of Wolverhampton,18576,Wolverhampton,United Kingdom
21,Data Science MSc,University of Wolverhampton,18576,Wolverhampton,United Kingdom
22,Data Science MSc,University of Wolverhampton,18576,Wolverhampton,United Kingdom
23,Data Science MSc,University of Wolverhampton,18576,Wolverhampton,United Kingdom

In [173]:
gdf=df_merged.groupby("universityName_x").agg({'courseName': lambda x: list(x), 'fees': lambda x: list(x),"country":"first","city":"first"}).reset_index()
gdf

# We grouped by "universityName" in order to have a dataset where for each university the columns "courseName" and "fees" contain the list of the courses and respective fees.

,universityName_x,courseName,fees,country,city
0,Middlesex University,"[Data Science MSc, Data Science MSc, Data Scie...","[18876, 18876, 18876, 18876, 18876, 18876]",United Kingdom,London
1,University of Helsinki,"[Data Science - MSc, Data Science - MSc, Data ...","[16086, 16086, 16086]",Finland,Helsinki
2,University of Hertfordshire,"[Data Science - MSc, Data Science - MSc, Data ...","[17734, 17734, 17734]",United Kingdom,Hatfield
3,University of Padua,"[Data Science, Data Science, Data Science]","[2895, 2895, 2895]",Italy,Padua
4,University of Wolverhampton,"[Data Science MSc, Data Science MSc, Data Scie...","[18576, 18576, 18576, 18576, 18576, 18576]",United Kingdom,Wolverhampton
5,"University of the West of England, Bristol","[Data Science - MSc, Data Science - MSc, Data ...","[10821, 10821, 10821]",United Kingdom,Bristol

In [174]:
gmaps = googlemaps.Client(key="AIzaSyBIE0_2Kq7ZjGsAQvpwlbeVTDbDSoa9Oq4")

# Here we used an API key to use the gmaps package

In [175]:
gdf['long'] = ""
gdf['lat'] = ""
gdf

# We added 2 empty columns: "long" and "lat". They will be filed with the universities' geographical datas

,universityName_x,courseName,fees,country,city,long,lat
0,Middlesex University,"[Data Science MSc, Data Science MSc, Data Scie...","[18876, 18876, 18876, 18876, 18876, 18876]",United Kingdom,London,,
1,University of Helsinki,"[Data Science - MSc, Data Science - MSc, Data ...","[16086, 16086, 16086]",Finland,Helsinki,,
2,University of Hertfordshire,"[Data Science - MSc, Data Science - MSc, Data ...","[17734, 17734, 17734]",United Kingdom,Hatfield,,
3,University of Padua,"[Data Science, Data Science, Data Science]","[2895, 2895, 2895]",Italy,Padua,,
4,University of Wolverhampton,"[Data Science MSc, Data Science MSc, Data Scie...","[18576, 18576, 18576, 18576, 18576, 18576]",United Kingdom,Wolverhampton,,
5,"University of the West of England, Bristol","[Data Science - MSc, Data Science - MSc, Data ...","[10821, 10821, 10821]",United Kingdom,Bristol,,

In [176]:
for i in range(len(gdf)):
    geocode_result = gmaps.geocode(gdf["universityName_x"][i])
    if geocode_result==[]:
        geocode_result=gmaps.geocode(gdf["city"][i])
    if len(geocode_result) != 0:
        gdf['lat'][i] = geocode_result[0]['geometry']['location'] ['lat']
        gdf['long'][i] = geocode_result[0]['geometry']['location']['lng']
    else:
        gdf['lat'][i] = 54.966667
        gdf['long'][i] = -1.600000
# With this "for-loop" we added to gdf the lat and long datas of each university, using the function gmaps.geocode() on the university name. If the function couldn't find the coordinates for one of 
# the university names we made it use the city name instead.

In [177]:
# Let's create the map
map = folium.Map(location=[gdf['lat'].iloc[0], gdf['long'].iloc[0]], zoom_start=3)

# Let's add the geographical dats and the popup datas
for i in range(len(gdf)):
    popup_content = f"<b>{gdf['universityName_x'].iloc[i]}</b><br>" \
                    f"<b>Courses and Fees:</b><br>" \
                    f"<ul>{''.join([f'<li>{course} - Fee: {fee}</li>' for course, fee in zip(gdf['courseName'].iloc[i], gdf['fees'].iloc[i])])}</ul>"
    
    popup = Popup(popup_content, max_width=300)
    
    folium.Marker(
        location=[gdf['lat'].iloc[i], gdf['long'].iloc[i]],
        popup=popup,
    ).add_to(map)

map

# We created a folium map with an icon for every university and a popup that shows whenever the icon is clicked that shows all the courses and respective fees in $ for that university

<H1>7. Algorithmic Question</H1>
Leonardo is an intern at a company. He is paid based on the total number of hours he has worked. They agreed __d__ days ago that Leonardo could not work less than $minTime_i$ or more than $maxTime_i$ hours per <ins>i-th</ins> day. Furthermore, he was warned by HR that on his last day at the company, he should provide a detailed report on how many hours he worked <ins>each day</ins> for the previous d days.

Today is the day Leonardo should report to HR, but the problem is that he <ins>didn't</ins> account for how many hours he put in for each day, so he only has the __total sum of the hours__ ($sumHours$) he put in total in these d days. He believes that if he creates a report in which each number $dayHours_i$ corresponds to the __total hours he worked on the i-th day__ while satisfying the HR limitations and the total sum of all $dayHours_i$ equals $sumHours$, he would be fine.

He cannot create such a report independently and requests your assistance. He will give you the number of days $d$, total hours spent $sumHours$, and the HR limitations for each day $i$, and he wants you to assist him in determining whether it is possible to create such a fake report. If that is possible, make such a report. 

**Input**

The first line of input contains two integers __d__, $sumHours$ - the number of days Leonardo worked there and the total number of hours he worked for the company. Each of the following __d__ lines contains two integer numbers $minTime_i$ and $maxTime_i$ - the minimum and maximum hours he can work on the $i_{th}$ day. 

**Output**

If such a report cannot be generated, print 'NO' in one output line. If such a report is possible, print 'YES' in the output and d numbers - the number of hours Leonardo spent each day - in the second line. If more than one solution exists, print any of them. 

__Input 1__
```
2 5
0 1
3 5
```
__Output 1__
```
YES
1 4 
```
---
__Input 2__
```
1 1
5 6
```
__Output 2__
```
NO
```

1. Implement a code to solve the above mentioned problem.

In [1]:
d, sumHours = map(int, input().split())
minTime = []
maxTime = []
for i in range(d):
    min_i, max_i = map(int, input().split())
    minTime.append(min_i)
    maxTime.append(max_i)

dayHours = minTime

diff = sumHours - sum(dayHours)

if sum(minTime) > sumHours:
    print("NO")
elif sum(minTime) == sumHours:
    print("YES")
    print(*dayHours)
else:
    i = 0
    while diff>0:
        if dayHours[i] < maxTime[i]:
            dayHours[i] = dayHours[i] + 1
            diff-=1
        else:
            i+=1
    print("YES")
    print(*dayHours)

YES
1 4

2. What is the __time complexity__ (the Big O notation) of your solution? Please provide a <ins>detailed explanation</ins> of how you calculated the time complexity.

The `sum(dayHours)` function has $O(n)$ time complexity. The `for` loop is iterated d times and the `while` loop is iterated at most d+sumHours times. Both have $O(n)$ time complexity. The rest of the code is of constant complexity. Overall: $O(n)$


3. Ask ChatGPT or any other LLM chatbot tool to check your code's time complexity (the Big O notation). Compare your answer to theirs. Do you believe this is correct? If the <ins>two differ</ins>, which one is right? (why?)

ChatGPT's answer is that the overall time complexity is O(d), where `d` is the number of days and the dominating factor is the loop that iterates over the days. Our answers match. Although ChatGPT did not consider sum() function's time complexity in its analysis, the overall complexity does not change and we believe that it is correct answer.

4. What do you think of the __optimality__ of your code? Do you believe it is optimal? Can you improve? Please <ins>elaborate</ins> on your response.

Although there are various solutions to the problem, it involves making decisions for each day based on the given constraints, and the number of decisions made is directly proportional to the number of days Leonardo worked (denoted as d), thus the minimum time complexity is linear and our code is optimal.